<div class="content-wrap cndn-wrap">
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content title-block">
                    <h1 class="title type-2 search_entity">JV Rejection Reasons (<span  id="table_info">4</span>)</h1>
                </div><!-- Page Header Content -->
                <div class="page-header-content button-block">
                    <button class="btn btn-bordered" data-toggle="modal" data-target="#entity-filter"><i class="icon ion-md-funnel"></i>Filter</button>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
            <div class="page-header-content-right">
                <div class="page-header-content indicator-block">
                    <ul class="indicator-list">
                        <li class="green">Active</li>
                        <li class="red">Inactive</li>
                    </ul>
                </div><!-- Page Header Content -->
                <div class="page-header-content reset-block">
                    <div class="reset-wrap">
                        <button class="btn-reset reset-tooltip">
                            <img class="img-responsive" src="./public/theme/img/content/reset.svg" ng-click="statusChange()"alt="Reset" />
                        </button>
                    </div>
                </div><!-- Page Header Content -->
                <div class="page-header-content search-block">
                    <div class="search_filter">
                        <label>
                            <input type="search" id="search_entity" class="form-control" placeholder="Search"/>
                            <button class="btn-clear" id="clear_search"  ng-click="clear_search()">Clear</button>
                        </label>
                    </div><!-- Search Filter -->
                </div><!-- Page Header Content -->
                <div class="page-header-content button-block">
                    <a href="#!/entity-pkg/entity/add/{{$ctrl.entity_type_id}}" class="btn btn-primary">Add New</a>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Right -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <div class="page-main-content list-page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table" id="entities_list" style="width: 100% !important;">
                        <thead>
                            <tr>
                                <th class="action">Action</th>
                                <th>JV Rejection Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- Modal -->
<div class="modal fade filter" id="entity-filter" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">Rejection Reason</h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="modal-form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Rejection Reason</label>
                                <input class="form-control" placeholder="Enter Rejection Reason" autocomplete="off" id="entity_name" />
                            </div><!-- Field -->
                        </div><!-- Column -->
                        
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control show-as" ng-change="statusChange()" ng-model="$ctrl.status_id">
                                    <option value="">Select Status</option>
                                    <option value="1">Active</option>
                                    <option value="2">Inactive</option>
                                </select>
                            </div><!-- Field -->
                        </div><!-- Column -->
                       
                    </div><!-- Row -->
                </div><!-- Modal Form -->
            </div><!-- Modal Body -->
            <div class="modal-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-primary" ng-click="reset_filter()">Reset</button>
                </div>
            </div><!-- Modal Footer -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<div class="modal modal-yellow fade" id="alert-modal-red" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="ion-close-circled">x</span></button>
                <h4 class="modal-title" id="myModalLabel">Warning</h4>
                <div class="modal-icon">
                    <img class="img-responsive" alt="Icon" src="./public/img/content/icon-warning.png">
                </div><!-- Modal Icon -->
            </div><!-- Modal Header -->
            <div class="modal-body">
                <h4>Are you sure do you want to delete?</h4>
            </div><!-- Modal Body -->
            <div class="modal-footer">
                <input type="hidden" name="entity_id" id="entity_id" value="">
                <button type="button" class="btn btn-red" data-dismiss="modal">No</button>
                <button type="button" id="accept" ng-click="deleteConfirm()" data-dismiss="modal" class="btn btn-red">Yes</button>
            </div><!-- Modal Footer -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->